        <ion-input
                #inputElem
                (keyup)="getItems($event)"
                (tap)="handleTap($event)"
                [(ngModel)]="keyword"
                (ngModelChange)="updateModel()"
                [placeholder]="options.placeholder == null ? defaultOpts.placeholder : options.placeholder"
                [type]="options.type == null ? defaultOpts.type : options.type"
                [clearOnEdit]="options.clearOnEdit == null ? defaultOpts.clearOnEdit : options.clearOnEdit"
                [clearInput]="options.clearInput == null ? defaultOpts.clearInput : options.clearInput"
                [disabled]="disabled"
                [ngClass]="{'hidden': !useIonInput}"
                (ionFocus)="onFocus()"
                (ionBlur)="onBlur()"
        >
        </ion-input>
        <div class="macNamePosition">{{ macName }}</div>
        <ion-searchbar
                #searchbarElem
                (ionInput)="getItems($event)"
                (tap)="handleTap($event)"
                [(ngModel)]="keyword"
                (ngModelChange)="updateModel()"
                [cancelButtonText]="options.cancelButtonText == null ? defaultOpts.cancelButtonText : options.cancelButtonText"
                [showCancelButton]="options.showCancelButton == null ? defaultOpts.showCancelButton : options.showCancelButton"
                [debounce]="options.debounce == null ? defaultOpts.debounce : options.debounce"
                [placeholder]="options.placeholder == null ? defaultOpts.placeholder : options.placeholder"
                [autocomplete]="options.autocomplete == null ? defaultOpts.autocomplete : options.autocomplete"
                [autocorrect]="options.autocorrect == null ? defaultOpts.autocorrect : options.autocorrect"
                [spellcheck]="options.spellcheck == null ? defaultOpts.spellcheck : options.spellcheck"
                [type]="options.type == null ? defaultOpts.type : options.type"
                [disabled]="disabled"
                [ngClass]="{'hidden': useIonInput}"
                (ionClear)="clearValue(true)"
                (ionFocus)="onFocus()"
                (ionBlur)="onBlur()"
        >
        </ion-searchbar>
        <ng-template #defaultTemplate let-attrs="attrs">
            <span [innerHTML]='attrs.label | boldprefix:attrs.keyword'></span>
        </ng-template>

        <ng-template #menulistTemplate let-attrs="attrs">
          <div
            style="width: 90%; display: inline-block; padding: 15px 15px 15px 15px;"
            (tap)="handleSelectTap($event, attrs.data)"
            ion-long-press
            [interval]="1900"
            (onPressStart)="pressed()"
            (onPressing)="active($event, attrs.label)"
            (onPressEnd)="released()">
            <span [innerHTML]='attrs.label | boldprefix:attrs.keyword'></span>
            <span class="float-right" [innerHTML]='attrs.data.macName | boldprefix:attrs.keyword'></span>
          </div>
          <ion-icon class="float-right" name="create" (click)="reviseMacName(attrs)" style="padding: 15px 15px 15px 0;"></ion-icon>

        </ng-template>

        <ul *ngIf="!disabled && suggestions.length > 0 && showList">
            <!-- <li *ngFor="let suggestion of suggestions" (tap)="handleSelectTap($event, suggestion)"> -->
            <li *ngFor="let suggestion of suggestions" style="padding: 0;">
                <ng-template
                        [ngTemplateOutlet]="template || menulistTemplate || defaultTemplate"
                        [ngTemplateOutletContext]="
                        {attrs:{
                          data: suggestion,
                          label: getLabel(suggestion),
                          keyword: keyword,
                          formValue: getFormValue(suggestion),
                          labelAttribute: dataProvider.labelAttribute,
                          formValueAttribute: dataProvider.formValueAttribute }}"></ng-template>
            </li>
        </ul>
        <div *ngIf="!disabled && suggestions.length > 1 && showListCOVER" class="test"></div>
        <p *ngIf="suggestions.length == 0 && showList && options.noItems">{{ options.noItems }}</p>
